*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
    font-family: sans-serif;
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-height: 400px;
    min-height: auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

form{
    margin: 2rem 0 1rem 0;
}
form select,input,button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    box-sizing: border-box;
}

.amount{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.amount input{
    width: 40%;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem ;
}
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
    width: 6rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin-top: 2rem;
    text-align: center;
}

form button {
    height: 3rem;
    background-color: #af4d9f;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
    margin-top: 2rem;
    &:hover{
        opacity: 0.9;
    }
}

i:hover{
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
}

.hide {
    display: none;
}

@media (max-width: 350px) {
    .container {
        padding: 1.5rem;
    }
    .select-container {
        width: 5rem;
    }
}